<h1>{{title }}</h1>
<button (click)="getdata('hellp')">html</button>
<br/><br/>
<!-- <input type="text" (keyup)="getdata('box')" placeholder="event keyup"> -->
<!-- <input type="text" #box (keyup)="getdata(box.value)" placeholder="event keyup"/>


<input type="text" #box1 (keyup)="getdata(box1.value)" placeholder="event keydown"/>


<input type="text" #box2 (blur)="getdata(box2.value)" placeholder="event keydown"/>


<input type="text" #box3 (input)="getdata(box3.value)" placeholder="event keydown"/>
 -->


<!-- <h1 (mouseover)="over('over')">mouseover</h1>


<h1 (mouseleave)="leave('leave') ">mouseover</h1> -->

<h1 #mouse (mouseover)="over('mouse over') " (mouseleave)="leave('mouse leave')">mouseover</h1>

